<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Pasantia</h1> - <h3>(año - año)</h3>
            </li>
            <p>
                (descripcion de lo que hice)
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(año - año)</h3>
            </li>
            <p>
                (descripcion de lo que hice)
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(año - año)</h3>
            </li>
            <p>
                (descripcion de lo que hice)
            </p>
        </ul>
    </div>
</div>