<div>
    <a href="http://" target="_blank" ><img id="facebook" src="../../../assets/facebook.png" alt="logo de facebook"></a>
    <a href="http://" target="_blank" ><img id="twitter" src="../../../assets/twitter.png" alt="logo de twitter"></a>
    <a href="http://" target="_blank" ><img id="instagram" src="../../../assets/instagram.png" alt="logo de instagram"></a>
    <a href="http://" target="_blank" ><img id="linkedin" src="../../../assets/linkedin.png" alt="logo de linkedin"></a>
    <a href="http://" target="_blank" ><img id="github" src="../../../assets/github.png" alt="logo de github"></a>
</div>