<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Encriptador de Mensajes</h1>
            <a href="https://tomasfriz.github.io/Challenge-Oracle-ONE---Logica-de-Programacion---Semana-1-y-2/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/Pagina encriptador y desencriptador de mensajes.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Alura Geek</h1>
            <a href="https://tomasfriz.github.io/Desafio-Oracle-ONE---Front-End---E-commerce/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/alura geek.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Alura Store</h1>
            <a href="https://tomasfriz.github.io/Alura-Store/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/alura store.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Apeperia</h1>
            <a href="https://tomasfriz.github.io/Apeperia/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/apeperia.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Click Life</h1>
            <a href="https://tomasfriz.github.io/Click-Life/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/Click Life.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Conviertete en Stormtrooper</h1>
            <a href="https://tomasfriz.github.io/Conviertete-en-Stormtrooper/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/Conviertete en Stormtrooper.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Fruta y Fruto</h1>
            <a href="https://tomasfriz.github.io/Fruta-Fruto/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/fruta y fruto.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Mini Alura</h1>
            <a href="https://tomasfriz.github.io/Mini-Alura/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/mini alura.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Ahorcado</h1>
            <a href="https://tomasfriz.github.io/Challenge-Oracle-ONE---Logica-de-Programacion---Semana-3-y-4/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/Pagina Ahorcado.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Barbería Alura</h1>
            <a href="https://tomasfriz.github.io/Barberia-Alura/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/Pagina Barberia Alura.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Obelisco</h1>
            <a href="https://tomasfriz.github.io/Obelisco/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/Pagina Obelisco.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Veterinaria Cuki</h1>
            <a href="https://tomasfriz.github.io/Veterinaria-Cuki/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/Pagina Veterinaria Cuki.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Portfolio 1</h1>
            <a href="https://tomasfriz.github.io/TP-de-Codo-a-Codo/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/portfolio 1.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Portfolio 2</h1>
            <a href="https://tomasfriz.github.io/Portfolio-argentina-programa/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/Portfolio 2.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Portfolio 3</h1>
            <a href="https://tomasfriz.github.io/Challenge-Oracle-ONE---Front-End---Portfolio/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/Portfolio 3.JPG" alt="Captura del proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Turismo Argentina</h1>
            <a href="https://tomasfriz.github.io/Turismo-Argentina/" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/turismo argentina.JPG" alt="Captura del proyecto">
        </div>
    </div>
</div>
