<div class="row">
        <div class="container">
                <div class="logo">
                        <img id="logoAP" src="../../../assets/APLogo.png" alt="Logo de Argentina Programa">
                </div>
                <div class="redes">
                        <a href="https://m.facebook.com/profile.php?eav=AfZSrpSH6O0cgj_PfEQpibLPBEztxeleQ0dU_fJlEMlQNeGZzVyWDy1i5M4qiHByawY&paipv=0" target="_blank"><img id="facebook" src="../../../assets/facebook.png"
                                        alt="logo de facebook"></a>
                        <a href="https://twitter.com/locoxlosjuegos3" target="_blank"><img id="twitter" src="../../../assets/twitter.png"
                                        alt="logo de twitter"></a>
                        <a href="https://www.instagram.com/locoxlosjuegos/" target="_blank"><img id="instagram" src="../../../assets/instagram.png"
                                        alt="logo de instagram"></a>
                        <a href="https://www.linkedin.com/in/tom%C3%A1s-agust%C3%ADn-friz-dpw/" target="_blank"><img id="linkedin" src="../../../assets/linkedin.png"
                                        alt="logo de linkedin"></a>
                        <a href="https://github.com/tomasfriz/Mis-Proyectos" target="_blank"><img id="github" src="../../../assets/github.png"
                                        alt="logo de github"></a>
                        <button type="button" class="btn btn-outline-light" (click)="login()"
                                *ngIf="!isLogged">INGRESO</button>
                        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR
                                SESION</button>
                </div>
        </div>
</div>