<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Mi Logotipo.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <!-- <p id="nombre">Tomás Agustín Friz</p> -->
        <p>Desarrollador Web Full Stack</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Hola, mi nombre es Tomás Agustín Friz. Tengo 23 años y vivo en Parque Chacabuco, CABA. Me gusta la programación, la robotica, los videosjuegos y el anime.</p>
        </span>
    </div>
</div> 