.row{
    margin: 0%;
    padding: 40px;
}

div{
    background-color: darkcyan;
    text-align: center;
}

#nombre{
    font-weight: bold;
    margin-top: 30%;
}

@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 700px;
    }
}

@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top: 950px;
    }
}