.row {
    margin: 0%;
    padding: 40px;
}

div {
    background-color: darkcyan;
    text-align: center;
}

#nombre {
    font-weight: bold;
    margin-top: 30%;
}

@media (min-width: 576px) {
    #fotodeperfil {
        position: absolute;
        width: 18%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 1%;
        top: 780px;
    }
}

.descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 575px) {
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top: 1120px;
    }
}