<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged"> NUEVA SKILL</button>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let skill of skill">
        <circle-progress
            [percent]="(skill.porcentaje)"
            [radius]="100"
            [imageSrc]="''"
            [title]="(skill.nombre)"
            [titleColor]="'#212F3C'"
            [showImage]="true"
            [imageWidth]="90"
            [imageHeight]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>

        <td *ngIf="isLogged">
            <button class="btn btn-light" routerLink="/edithys/{{skill.id}}">
                <i class="bi bi-pencil-fill"></i> EDITAR</button>
        </td>
        <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(skill.id)">
                <i class="bi bi-trash-fill"></i> BORRAR</button>
        </td>
    </div>
    <!-- <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageWidth]="90"
            [imageHeight]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageWidth]="90"
            [imageHeight]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageWidth]="90"
            [imageHeight]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="25"
            [radius]="100"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageWidth]="90"
            [imageHeight]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="25"
            [radius]="100"
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageWidth]="90"
            [imageHeight]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="10"
            [radius]="100"
            [imageSrc]="'../assets/eng.png'"
            [showImage]="true"
            [imageWidth]="90"
            [imageHeight]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div> -->
</div>